.agree-cookie {
  position: fixed;
  bottom: 1rem;
  left: 1.2rem;
  max-width: 480px;
  width: calc(100% - 2.4rem);
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  box-sizing: border-box;
  z-index: $index-header + 1;
  @media (max-width: $media-max-pad) {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 96%;
    padding: 0.8rem 1rem;
  }
  &.approved {
    display: none;
  }
}
.agree-cookie-inner {
  width: 100%;
  font-size: 14px;
  a {
    color: $color-primary;
    &:hover {
      color: $color-second
    }
  }
  .agree-cookie-text {
    line-height: 1.3;
    @media (min-width: $media-min-pad) {
      padding: 0 0 0.5em;
    }
  }
}
.agree-cookie-btn {
  min-width: 100px;
  margin-top: 0.5rem;
  padding: 0.5em 1em;
}
