footer.footer {
  background: #F9FBFB;
  padding: 40px 0 0;
  position: relative;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  @media(max-width: $media-max-phone-min){
    padding-top: 2.3em;
  }
 
  .footer-contact {
    padding: 1rem 0;
    margin-top: 1rem;
    border-bottom: 1px solid #454545;
    a {
      display: block;
      margin-bottom: 4px;
    }
  }
  .footer-other-info {
    display: flex;
    padding: 1rem 0;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
  }
  .footer-privacy {
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid $color-line;
    @media(max-width: $media-max-pad){
      border-right: 0;
      padding-bottom: 0.3em;
    }
  }
}


.site-footer {
  background: #fff;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;

  .footer-banner {
    background: #2F8082;
    background-image: url(/vite-dev/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    font-weight: 400;
    color: #fff;
    padding: 60px 40px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .banner-btn {
    margin-right: 160px;
    }

    .hot-air {
      position: absolute;
      top: -20px;
      left: 40px;
      width: 50px;
    }

    .paper-corner {
      position: absolute;
      bottom: -35px;
      right: 30px;
      width: 60px;
    }

    .banner-text {
      flex: 1;

      .slogan {
        font-size: 1.25rem;
        color: #FFC585;
        margin-bottom: 8px;
      }

      h2 {
        font-size: 3rem;
        margin: 0;
      }
    }

   
  }

  .footer-main {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    background-color: #F9FBFB;

    .footer-left {
      max-width: 320px;

      .footer-logo {
        width: 222px;
        margin-bottom: 1rem;
      }

      .contact-info {
        margin-top: 20px;
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;
          font-size: 0.95rem;

          img {
            width: 17px;
          }
        }
      }
    }

    .footer-right {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .footer-links {
        display: flex;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin-bottom: 1rem;

        li a {
          text-decoration: none;
          color: #535353;
          font-size: 0.95rem;
        }
      }

      .footer-license {
        background: #ECF3F3;
        padding: 6px 16px;
        border-radius: 20px;
        font-size: 0.85rem;
        color: #7D7D7D;
        margin-top: 10px;

        .plus {
          color: #C3996B;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
  }

  .footer-bottom {
    font-weight: 400;
    text-align: center;
    padding: 16px 0;
    font-size: 0.85rem;
    color: #535353;
    border-top: 1px solid #E1E1E1;
  }
}
