<div class="color-bg-wrap">
    <div class="color-bg"></div>
  </div>
<div class="news-detail">
  <div class="container">
    <div class="news-detail-header">
        <div class="news-title-group">
            <nav class="breadcrumb">
            <a href="#">最新消息</a>
            <span class="arrow"></span>
            <a href="#">移民公告</a>
            </nav>
            <h1 class="news-title">美國國務院公告2025年2月簽證排期 表A&表B</h1>
        </div>
        <div class="news-date">
            <div class="date-day">23</div>
            <div class="date-ym">
            <div class="year">2025</div>
            <div class="month">02</div>
            </div>
            <div class="date-line"></div>
        </div>
        </div>


    <!-- 圖片 -->
    <div class="cover-image">
      <%= image_tag 'article-img.png', alt: '易齊國際', style:'width: 100%;margin-bottom: 20px;' %>
    </div>

    <!-- 內文 -->
    <div class="content">
      <p>2025年2月9日：紐西蘭總理Christopher Luxon、財政部長Nicola Willis、移民部長Erica Stanford與奧克蘭商會負責人Simon Bridges在與英國駐紐西蘭總部會面，宣布移民政策重大變更。</p>
      <p>作為「黃金簽證」計劃全面改革的一部分，紐西蘭政府將降低外國人申請投資簽證所需的投資金額，並取消申請人英語能力的要求，希望能吸引更多投資者，推動經濟。</p>
      <p>紐西蘭移民部長宣布，自2025年4月1日起，AIP-Active Investor Plus Visa活躍投資人優勢簽證的新政如下，分為兩個簡化的投資類別：</p>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                    <th>成長型 Growth</th>
                    <th>平衡型 Balanced</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>較高風險投資</td>
                    <td>低風險投資</td>
                    </tr>
                    <tr>
                    <td class="highlight">投資 500 萬紐幣，3 年投資期</td>
                    <td>投資 1,000 萬紐幣，5 年投資期</td>
                    </tr>
                    <tr>
                    <td>直接投資於企業或基金</td>
                    <td>可投資債券、上市股票、房地產（新住宅、新/現有商業或工業開發項目）、慈善事業</td>
                    </tr>
                    <tr class="highlight">
                    <td>較高風險投資</td>
                    <td>低風險投資</td>
                    </tr>
                    <tr>
                    <td>居住天數21天</td>
                    <td>居住天數105天，但可透過增加投資金額來縮短居住時間</td>
                    </tr>
                    <tr>
                    <td colspan="2">減少簽證持有人在紐西蘭進行投資的時間。此兩種類別必須在獲得原則性批准後的6個月內完成所有投資，但可以申請延長6個月</td>
                    </tr>
                    <tr>
                    <td colspan="2">取消英語語言要求</td>
                    </tr>
                </tbody>
            </table>
            <p>
            這些變化有助於吸引高價值投資，簡化流程，並激勵人們投資「積極型」投資類別，為低風險投資提供了有吸引力的投資選擇；從而吸引新的投資者到紐西蘭，也能提高投資人熟悉紐西蘭的投資環境，並增強未來更積極投資的信心。
            </p>
            <p>
            投資者可以使用目前移民局官網線上的相關表單上申請表申請簽證；該申請表將進行更新以符合新法的變更。更多詳細資訊將於三月初公布。
            </p>
            <p>（資料來源於外電綜合報導，發布日期2025/2/12）</p>

            <div class="tags">
                <span class="tag">美國</span>
                <span class="tag">簽證</span>
                <span class="tag">投資移民</span>
            </div>

           <div class="post-nav">
                <div class="post-nav-item prev">
                    <span class="arrow">←</span>
                    <div class="text-box">
                    <div class="label">上一篇</div>
                    <div class="title">2025加拿大配偶工簽新政1月21日實施</div>
                    </div>
                </div>

                <div class="post-nav-item next">
                    <span class="arrow">→</span>
                        <div class="text-box">
                    <div class="label">下一篇</div>
                    <div class="title">加拿大宣布3月底開放家庭護理人員...</div>
                    </div>
                </div>
            </div>




        </div>
     </div>
  </div>
</div>
<div class="more-news section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <img src="<%= image_path('decor-2.png') %>" alt="裝飾圖" class="title-icon" />
                <h2>其他人也看過</h2>
            </div>

            <div class="news-list">
                <div class="news-item">
                    <div class="news-date">
                    <div class="d-flex">
                        <span class="day">23</span>
                        <div class="date-wrap">
                            <span class="year">2025</span>
                            <span class="month">02</span>
                        </div>
                    </div>
                    <span class="tag">美國移民</span>
                    </div>
                    <div class="news-image">
                    <img alt="新聞圖" src="/assets/news-1-bf505bc8530712abe8428739237c8c4ae39220713821f37fae7d181f80e0a2d1.png">
                    </div>
                    <div class="news-content">
                    <h3>美國國務院公告2025年2月簽證排期 表A&amp;表B</h3>
                    <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                    </div>
                    <div class="news-more">
                    <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-date">
                    <div class="d-flex">
                        <span class="day">23</span>
                        <div class="date-wrap">
                            <span class="year">2025</span>
                            <span class="month">02</span>
                        </div>
                    </div>
                    <span class="tag">美國移民</span>
                    </div>
                    <div class="news-image">
                    <img alt="新聞圖" src="/assets/news-1-bf505bc8530712abe8428739237c8c4ae39220713821f37fae7d181f80e0a2d1.png">
                    </div>
                    <div class="news-content">
                    <h3>美國國務院公告2025年2月簽證排期 表A&amp;表B</h3>
                    <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                    </div>
                    <div class="news-more">
                    <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-date">
                    <div class="d-flex">
                        <span class="day">23</span>
                        <div class="date-wrap">
                            <span class="year">2025</span>
                            <span class="month">02</span>
                        </div>
                    </div>
                    <span class="tag">美國移民</span>
                    </div>
                    <div class="news-image">
                    <img alt="新聞圖" src="/assets/news-1-bf505bc8530712abe8428739237c8c4ae39220713821f37fae7d181f80e0a2d1.png">
                    </div>
                    <div class="news-content">
                    <h3>美國國務院公告2025年2月簽證排期 表A&amp;表B</h3>
                    <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                    </div>
                    <div class="news-more">
                    <a href="#"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
