<section class="form-success">
  <div class="container">
 <%= image_tag 'ballon.png', alt: 'icon', style: 'width: 80px;' %>
    <h1>表單已成功送出</h1>
    <p class="message">專業移民顧問將盡快與您聯繫<br>感謝您的耐心等候</p>
    <a href="/" class="btn-back-btn">回首頁</a>
  </div>
</section>
